body {
  overflow-x: hidden;
}

h1 {
  text-align: center;
}

#gun {
  background-color: black;
  position: absolute;
  left: 20px;
}

.game-pic {
  position: absolute !important;
  width: 10vw;
  height: 10vw;
  top: 20px;
  right: 20px;
  border-radius: 50%;
}

#arrow {
  position: absolute;
  left: 20px;
}

.zatvor {
  position: absolute;
  bottom: 20px;
  width: 20%;
  left: 40%;
}
